extends base.pug

block content
    div#video-container(data-id=video._id)
        video(src="/" + video.fileUrl)
        div#video-controls.video-controls
            input(type="range",step="0.1", min="0", value=0)#timeline
            div.video-controls_container
                div.video-controls-left
                    div#play.video-controls_play
                        i.fas.fa-play
                    div.video-controls_volume
                        span#mute.video-controls_mute
                            i.fas.fa-volume-up
                        input(type="range",step="0.1", min="0", max="1")#volume
                    div.video-controls_time
                        span#current-time 0:00
                        span  / 
                        span#total-time 0:00
                div.video-controls-right
                    span#full-screen
                        i.fas.fa-expand

    div.video_data
        h3=video.title
        small 조회수 #{video.meta.views}회 ▪ #{video.createdAt}
        hr
        div.video-owner
            img(src="/" + video.owner.avatarUrl)
            a(href=`/users/${video.owner._id}`)
                span=video.owner.username
        p=video.description
        hr
        if loggedInUser && String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;
        if loggedIn
            div.video_add-comments
                form.video_comment-form#commentForm
                    textarea(cols="30", rows="10", placeholder="댓글 입력")
                    button 댓글 추가
        div.video_comments
            ul
                each comment in video.comments.reverse()
                    li.video_comment(data-id=comment._id)
                        span=comment.text
                        span.video_comment-delete X


        
block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/comment.js")